*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
}
.parent{
    width: 600px;
    margin: 40px auto;
    background-color: #eee;
    padding: 20px;
}
.parent input{
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
}
.parent input:focus{
    outline: none;
}
.parent .buttons{
    display: flex;
    justify-content: space-between;
}
.parent .buttons span{
    background: #009688;
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.parent .results{
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border: 2px dashed #eee;
    text-align: center;
}
.parent .results span span{
    color: #009688;
    font-weight: bold;
}
.parent .results span .keys{
    display: block;
}
